doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title
			block title
		meta(name="description" content="")
		link(rel="icon" href="img/favicon.png")
		meta(name="viewport" content="width=device-width")
			
		link(rel="stylesheet" href="css/main.css")
	
	body
		include _mixins
		main
			block header
				
			.appl-content.content-original
				block content


			block footer
		
		include ../_includes/scripts

		block page-scripts
		
		script(src='js/common.js')