extends _misc/main

block title
	| About page


block content
	section.breadcrumbs
		.wrapper
			ul.appl-breadcrumbs
				li.last
					a(href="#") Про компанію

	section.about.sect-pd-60
		.wrapper
			.about-left
				h2 Про
					br
					| компанію
			
			.about-right
				.app-block-with-title
					h4 Умови доставки
					p.apple-pargf Отправка товаров осуществляется компанией Новая Почта, по тарифам данной компании. Товар отправляется после предоплаты от 200 грн или полной оплаты товара на карту ПриватБанка. Сумма предоплаты, вычитается из суммы чека Наложенного Платежа.

				.app-block-with-title
					h4 Оплата
					p.apple-pargf Наложенный платеж — оплата наличными на складе “Новой почты” после проверки. Оплата через Приват24 с комиссией +3% с Вашего счета в Приватбанке и составит 38623 грн. Оплата картой - терминал временно не работает. Оплата наличными возможна только в Харькове при покупке в магазине.

				.app-block-with-title
					h4 Важливо!
					p.apple-pargf Продавец не несет ответственности за работу почтовых / курьерских служб. Стоимость за доставку товара оплачивает покупатель. Аванс / задаток / первый взнос / гарантийный платеж и предоплата в случаи отказа клиента от товара - не возвращается. Цена на товар до момента фактической передачи товара покупателю может быть изменена продавцом в одностороннем порядке.

					p.apple-pargf Оформляя заказ вы соглашаетесь с условиями оплаты и доставки товара.
				
				p.apple-pargf Подрібни читайте на сторінці #[a(href="#") Оплата та доставка]
