extends _misc/main-no-header-and-footer

block title
	| Cart page

block header
	include _sections/header

block content
	section.breadcrumbs
		.wrapper
			ul.appl-breadcrumbs
				li.last
					a(href="#") Чекаут

	section.cart
		.wrapper
			.cart-content
				.cart-items
					.product-row
						.product-row__img
							img(src="img/cart-page/lap-top-apple-macbook-pro-touch-bar-2019-13-inchs-i5-8gb-256gb.jpg", srcset="img/cart-page/kisspng-apple-tv-4-k-television-clip-art-apple-tv-4-k-5-b-45-b-2002-b-7660-430603791531294208178@2x.jpg 2x" alt="alt")

						.product-row__text
							.product-row__name MacBook Pro
							.product-row__price 19 899 грн
							.product-row__year 2018
							.product-row__buttons
								a(href="#").appl-edit-icon
								a(href="#").appl-recycler-icon

					.product-row
						.product-row__img
							img(src="img/cart-page/kisspng-apple-tv-4k-television-clip-art-apple-tv-4k-5b45b2002b7660.430603791531294208178.jpg", srcset="img/cart-page/kisspng-apple-tv-4k-television-clip-art-apple-tv-4k-5b45b2002b7660.430603791531294208178@2x 2x" alt="alt")

						.product-row__text
							.product-row__name Apple TV
							.product-row__price 19 899 грн
							.product-row__year 2018
							.product-row__buttons
								a(href="#").appl-edit-icon
								a(href="#").appl-recycler-icon
				
				.cart-annotation
					.app-block-with-title
						h4 Умови доставки
						p.apple-pargf Отправка товаров осуществляется компанией Новая Почта, по тарифам данной компании. Товар отправляется после предоплаты от 200 грн или полной оплаты товара на карту ПриватБанка. Сумма предоплаты, вычитается из суммы чека Наложенного Платежа.

					.app-block-with-title
						h4 Оплата
						p.apple-pargf Наложенный платеж — оплата наличными на складе “Новой почты” после проверки. Оплата через Приват24 с комиссией +3% с Вашего счета в Приватбанке и составит 38623 грн. Оплата картой - терминал временно не работает. Оплата наличными возможна только в Харькове при покупке в магазине.

					.app-block-with-title
						h4 Важливо!
						p.apple-pargf Продавец не несет ответственности за работу почтовых / курьерских служб. Стоимость за доставку товара оплачивает покупатель. Аванс / задаток / первый взнос / гарантийный платеж и предоплата в случаи отказа клиента от товара - не возвращается. Цена на товар до момента фактической передачи товара покупателю может быть изменена продавцом в одностороннем порядке.

						p.apple-pargf Оформляя заказ вы соглашаетесь с условиями оплаты и доставки товара.
					
					p.apple-pargf Подрібни читайте на сторінці #[a(href="#") Оплата та доставка]
			

			.cart-info
				form(action="#")
					.app-block-with-title
						h4 Спосіб доставки
						- var list = ['Mac', 'MacBook', 'MacBook Pro', 'сорокапятимиллиметровка-винтовка'];

							select(name="#")
								- for (var i= 0; i < 4; i++)
									option(value="") Забрати зі складу
						
						.app-opt-button Доставка кур’єром
						.app-opt-button Нова Пошта

					.app-block-with-title
						h4 Оплата
					
						.app-opt-button Оплата карткою
						.app-opt-button Наложений платіж

						.attention-fields #[span.asterisk *] Усі поля обов’язкові для заповнення.
						label
							input(type="text" placeholder="Ім’я")
						label
							input(type="text" placeholder="E-mail")
						label
							input(type="text" placeholder="Телефон")

					.app-block-with-title
						h4 Адреса
						select(name="#")
							- for (var i= 0; i < 4; i++)
								option(value="") Область

						select(name="#")
							- for (var i= 0; i < 4; i++)
								option(value="") Місто
						label
							input(type="text" placeholder="Вулиця, будинок")
						select(name="#")
							- for (var i= 0; i < 4; i++)
								option(value="") Номер відділення

					.app-block-with-title
						h4 Реквізити
						label
							input(type="text" placeholder="Номер картки")

						.cart-requisites
							.cart-requisites__year
								select(name="#")
									- for (var i= 0; i < 4; i++)
										option(value="") Рік

							.cart-requisites__month
								select(name="#")
									- for (var i= 0; i < 4; i++)
										option(value="") Місяць
						.cart-cvv
							label
								input(type="text" placeholder="CVV")
								span.asterisk *

							a(href="#").appl-link #[span.asterisk *] Що таке CVV?

block footer
	.footer.under-sticky-footer
		include _includes/footer-content

block blured-footer
	.sticky-footer
		.wrapper
			.overal-price
				span Всього:
				.overal-price__val 39 798 грн

			.to-pay
				a(href="#").button Сплатити
				a(href="#").appl-link Придбати у кредит
		.header-overflow
			.header-container.blured.blur

block page-scripts
	script(src="js/libs/jquery-ui/jquery-ui.min.js")
	script(src='js/appl-map.js')
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_NAmCu9dm16a9i0oeX0T6rBQFgObeiZA&callback=initMap" async defer)