extends _misc/main

block title
	| Ask A Question Page


block content
	section.breadcrumbs
		.wrapper
			ul.appl-breadcrumbs
				li.last
					a(href="#") Задати питання

	section.feedback.sect-pd-60
		.wrapper
			.feedback-left
				h2 Є питання?

				p Наш менеджер відправить
					br
					| Вам листа з відповіддю.
			
			.feedback-right
				form(action="#")
					label
						input(type="text" placeholder="Ім’я")
					label.necessarily-field
						input(type="text" placeholder="E-mail")
						//- span.asterisk *

					label.necessarily-field.feedback-textarea
						textarea(name="fjf", cols="30", rows="10", placeholder="Питання, пропозиції, зауваження та просто теплі слова.")
						//- span.asterisk *

					.appl-form-bottom
						.attention-fields
							span.asterisk *
							| Обов’язкові поля.

						button.button Відправити
