extends _misc/main

block title
	| Главная страница

block content
	section.main-banners
		.wrapper
			a(href="#").appl-banner.appl-banner--wide.appl-banner--top
				.appl-banner__title.appl-banner__title--xs Найкраща ціна на AirPods другого покоління
				.appl-banner__title.appl-banner__title--xs Відчувай потужність бездротових навушників на протязі 24 годин #[spam.asterisk *]

				.appl-banner__img
					img(src="img/main-page/1553604383_1469201.png" srcset="img/main-page/1553604383_1469201@2x.png 2x" alt="alt")

				p.footnote #[spam.asterisk *] при поенному заряді кейсу

			a(href="#").appl-banner.appl-banner--ipad.appl-banner--half
				.appl-banner__title.appl-banner__title--lg iPad Pro
					br
					| 2018
				.appl-banner__caption ціна від 19 899 грн

				img(src="img/main-page/Apple-iPad-Pro-11in-SpaceGray-1-3x.png" srcset="img/main-page/Apple-iPad-Pro-11in-SpaceGray-1-3x@2x.png 2x" alt="alt")
			
			a(href="#").appl-banner.appl-banner--iphone.appl-banner--half
				.appl-banner__title.appl-banner__title--md iPhone Xs,
					br
					| Xs Max, Xr
				.appl-banner__caption ціна від 18 499 грн

				img(src="img/main-page/iphone-xs-select-2019-family.png" srcset="img/main-page/iphone-xs-select-2019-family@2x.png 2x" alt="alt")

			a(href="#").appl-banner.appl-banner--wide.appl-banner--watch(style="background-image: url(../img/main-page/450_wired_apple_watches_oct18_gw0018.jpg); background-image: -webkit-image-set(url(../img/main-page/450_wired_apple_watches_oct18_gw0018.jpg) 1x,url(../img/main-page/450_wired_apple_watches_oct18_gw0018@2x.jpg) 2x);")
				.apple-watch-heading
					.appl-banner__title.appl-banner__title--lg Apple Watch
						div Series 4
				.appl-banner__caption ціна від 10 099 грн

			a(href="#").appl-banner.appl-banner--half.appl-banner--macbook(style="background-image: url(img/main-page/image_2020_02_03T16_45_49_913Z.png);")
				.appl-banner__title.appl-banner__title--mdd MacBook Pro
				.appl-banner__caption ціна від 19 899 грн

				.appl-banner__img
					img(src="img/main-page/lap-top-apple-macbook-pro-touch-bar-2019-13-inchs-i5-8gb-256gb.png" srcset="img/main-page/lap-top-apple-macbook-pro-touch-bar-2019-13-inchs-i5-8gb-256gb@2x.png 2x" alt="alt")

			a(href="#").appl-banner.appl-banner--half.appl-banner--tv
				.appl-banner__title.appl-banner__title--mdd Apple TV
				.appl-banner__caption ціна від 19 899 грн

				.appl-banner__img
					img(src="img/main-page/kisspng-apple-tv-4k-television-clip-art-apple-tv-4k-5b45b2002b7660.430603791531294208178.png" srcset="img/main-page/kisspng-apple-tv-4k-television-clip-art-apple-tv-4k-5b45b2002b7660.430603791531294208178@2x.png 2x" alt="alt")

			
			.appl-banner.appl-banner--wide.appl-banner--accessories.wrapper-wide(style="background-image: url(img/main-page/on-table.png);")
				.appl-banner__title.appl-banner__title--sm Аксесуари
					a(href="#") Переглянути