extends _misc/main-no-header-and-footer

block title
	| Mac Page

block header
	include _sections/header-bl

block content
	section.macbook.invert.appl-std-sect.apple-product-promo-sect
		.wrapper
			h2 MacBook Pro
			ul.sect-crumbs
				li
					a(href="#") Переваги
				li
					a(href="#") Придбати

		img.promo-img(src="img/mac-page/macbook.jpg", srcset="img/mac-page/macbook@2x.jpg 2x" alt="alt")
		

	section.macbook-air.appl-std-sect.apple-product-promo-sect
		.wrapper
			h2 MacBook Air
			ul.sect-crumbs
				li
					a(href="#") Переваги
				li
					a(href="#") Придбати

		img.promo-img(src="img/mac-page/macbookair.jpg", srcset="img/mac-page/macbookair@2x.jpg 2x" alt="alt")

	section.imac.appl-std-sect.apple-product-promo-sect
		.wrapper
			h2 iMac
			ul.sect-crumbs
				li
					a(href="#") Переваги
				li
					a(href="#") Придбати

		img.promo-img(src="img/mac-page/imac.jpg", srcset="img/mac-page/imac@2x.jpg 2x" alt="alt")

	section.imac-pro.appl-std-sect.apple-product-promo-sect.invert
		.wrapper
			h2 iMac Pro
			ul.sect-crumbs
				li
					a(href="#") Переваги
				li
					a(href="#") Придбати

		img.promo-img(src="img/mac-page/imac-pro.jpg", srcset="img/mac-page/imac-pro@2x.jpg 2x" alt="alt")

	section.mac-pro.appl-std-sect.apple-product-promo-sect
		.wrapper
			h2 Mac Pro
			ul.sect-crumbs
				li
					a(href="#") Переваги
				li
					a(href="#") Придбати

		img.promo-img(src="img/mac-page/mac-pro.jpg", srcset="img/mac-page/mac-pro@2x.jpg 2x" alt="alt")

	section.mac-mini.appl-std-sect.apple-product-promo-sect.invert
		.wrapper
			h2 Mac Mini
			ul.sect-crumbs
				li
					a(href="#") Переваги
				li
					a(href="#") Придбати

		img.promo-img(src="img/mac-page/mac-mini.jpg", srcset="img/mac-page/mac-mini@2x.jpg 2x" alt="alt")

	section.mac-accessories.appl-std-sect.apple-product-promo-sect
		.wrapper
			.appl-heading
				h2 Аксесуари для Mac
				ul.sect-crumbs
					li
						a(href="#") Переглянути

			.mac-accessories__bg(style="background-image: url(img/mac-page/mac-accessories.jpg); background-image: -webkit-image-set(url(img/mac-page/mac-accessories.jpg) 1x,url(img/mac-page/mac-accessories@2x.jpg) 2x);")


block footer
	footer.footer.footer-no-pd
		include _includes/footer-content
			