extends _misc/main-no-header-and-footer

block title
	| About page

block header
	include _sections/header

block content
	section.thanking.sect-pd-60
		.wrapper
			.thanking-left
				h2 Дякуємо за покупку
				p Товар зовсім скоро буде у Вас!
				a(href="#").link-backward.appl-link Назад до каталогу


			.thanking-right
				p З цим товаром рекомендуємо придбати #[a(href="#") AirPods 2]
				.thanking-img
					img(src="img/thanking-page/1553604383_1469201.jpg" srcset="img/thanking-page/1553604383_1469201@2x.jpg 2x")
				
