.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-Group_46 {
	font-size:(31/10)*1rem;
	width:(31/31)*1em;
}
.icon-cart {
	font-size:(31/10)*1rem;
	width:(31/31)*1em;
}
.icon-magnifier {
	font-size:(31/10)*1rem;
	width:(31/31)*1em;
}
.icon-pensil {
	font-size:(16.263/10)*1rem;
	width:(16.263/16.263)*1em;
}
.icon-recycler {
	font-size:(14/10)*1rem;
	width:(13/14)*1em;
}
