$accent: #2b9dff;
$l-accent: #60b6ff;
$gray-line: #f5f5f5;
$black: #0E1115;
$light-black: #121217;
// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
// $grid-gutter-width: 30px;
// $grid-columns: 12;
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
// $container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1170px);

// $gutter: $grid-gutter-width;

$thin: 'SFUIDisplay-Thin', sans-serif;
$light: 'SFUIDisplay-Light', sans-serif;
$reg: 'SFUIText-Regular', sans-serif;
$med: 'SFUIText-Medium', sans-serif;
$bold: 'SFUIDisplay-Bold', sans-serif;






