.wrapper
	.footer-logo-block
		.appl-logo
			img(src="img/logo.svg", alt="alt")

		.footer-logo-block__bottom
			p Є питання?
			a(href="#").button.button-rounded.button-empty Відправити листа

	.footer-menu
		- var menu = ['Mac', 'iPad', 'iPhone', 'Watch', 'TV', 'Music', 'Про компанію', 'Оплата та доставка', 'Гарантія', 'Кредит', 'Обмін', 'Контакты'];
		ul
			each item in menu
				li
					a(href="#")= item

	.footer-map
		#footer-map.footer-map

	.footer-contacts
		p З 9-00 до 21-00 
			br
			| Без перерв та вихідных
		
		p Сумська 22, 
			br
			| м. Харків
		
		.footer-contacts__logo
			img(src="img/footer-logo.png" srcset="img/footer-logo@2x.png 2x" alt="alt")