block header
	- var styleClass = "";
	- var owerflowClass = "";
	
header(class="header " + styleClass)
	.wrapper
		.header-inner
			a(href="#").toggle-mnu
				span
					
			.appl-logo
				block header-logo-img
				

			- var menu = ['Mac', 'iPad', 'iPhone', 'Watch', 'TV', 'Music'];
			ul.main-menu
				each item in menu
					li
						a(href="#")= item

			.header-right
				.appl-search-block.to-tooltip
					.appl-search-icon.tooltip-icon
					include ../_includes/header-popup-search
					.popup-mob-triangle
				
				.appl-cart-block.to-tooltip
					.appl-cart-icon.tooltip-icon
					include ../_includes/header-popup-cart
					.popup-mob-triangle

	.header-overflow
		block blur-container
			div(class="header-container blured " + owerflowClass)