.products-sidebar{
	@include col();
	@include size(1);
	padding-top: rem(61);

	ul{

		li{
			list-style-type: none;
			margin-bottom: 18px;

			a{
				text-decoration: none;
				color: rgba(#000, .35);
				transform: color .5s;

				&:hover{
					color: #000;
				}

			}

			&:last-child{
				margin-bottom: 0;
			}

			&.active{
				a{
					color: #000;
				}
			}
		}
	}
}
.products-content{
	@include col();
	@include size(9);
}
.product-cards{
	.product-card{
		width: calc(33.33333%);
	}
}
.product-card{
	padding: 26px 26px 40px 26px;
	text-decoration: none;
	color: #000;
	text-align: center;
	border: 1px solid $gray-line;

	&__img{
		height: 344px;
		position: relative;
		margin-bottom: 16px;

		img{
			@include absolute-center;
		}
	}
	&__name{
		margin-bottom: 16px;
		font-size: 24px;
		line-height: 29px;
	}
	&__price{

	}
}