.cart{
	// padding-top: rem(20);

	&-content{
		@include col();
		@include size(6);
		@include size-sm(10);
		padding-right: rem(132);

		@include max-screen(960px){
			padding-right: 30px;
		}  
	}
	&-info{
		@include col();
		@include size(4);
		@include size-sm(10);
		padding-top: rem(76);

		label{
			max-width: 301px;

			@include max-screen(375px){
				max-width: none;
			} 
		}
	}
	&-annotation{
		margin-top: 60px;
	}
	&-items{
		.product-row{
			margin-bottom: 42px;

			&:last-child{
				margin-bottom: 0;
			}

			@include max-screen(960px){
				margin-bottom: 15px;
			}  

		}

	}
	.app-block-with-title{
		.ui-selectmenu-button.ui-button{
			display: block;
		}
	}
}
.product-row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start;
	padding-top: 20px;
	border-bottom: 1px solid $gray-line;

	&__img{
		width: 260px;
		height: 260px;
		margin-right: rem(138);
		position: relative;
		flex-shrink: 0;

		img{
			@include absolute-center;
		}

		@include max-screen(1100px){
			margin-right: 50px;
		}  
		@include max-screen(900px){
			margin-right: 25px;
			width: 200px;
			height: 200px;
		}
		@include max-screen(768px){
			width: 150px;
			height: 150px;
		}
		@include max-screen(576px){
			margin-right: 15px;
		}
	}
	&__text{
		padding-top: 50px;

		@include max-screen(320px){
			padding-top: 15px;
		}  
	}
	&__name{
		margin-bottom: 16px;
		font-size: 25px;
		line-height: 30px;

		@include max-screen(375px){
			font-size: 22px;
			line-height: 25px;
		}  
	}
	&__price{
		font-family: $light;
		margin-bottom: 8px;
		// color: $gray-line;
	}
	&__year{
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 16px;
	}
	&__buttons{
		.appl-edit-icon,
		.appl-recycler-icon{
			width: 14px;
			height: 14px;
			display: inline-block;
			vertical-align: top;
			margin-right: 23px;
		}
	}


	&:last-child{
		border-bottom: none;
	}

	@include max-screen(480px){
		padding-top: 10px;
	}  
	@include max-screen(320px){
		display: block;
	}

}
.cart-requisites{
	max-width: 301px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 24px;

	&__year{
		max-width: 113px;
		flex: 1 0 auto;
	}
	&__month{
		max-width: 158px;
		flex: 1 0 auto;
	}
}
.cart-cvv{
	max-width: 310px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	label{
		margin-bottom: 0;
		max-width: 113px;
	}
}
