.search-results{

}
.search-results-left{
	width: 316px;
	flex: 0 0 auto;
	min-height: 725px;
	padding-top: 60px;
	border-right: 1px solid $gray-line;
	

	h2{
		margin-bottom: rem(80);
		text-align: left;
	}
	.appl-search-row{
		padding-right: 87px;
		margin-bottom: rem(80);

		label{
			padding-right: 35px;
		}

		.popup-searc-icon{
			img{
				height: 60%;
				width: 60%;
				
			}
		}
	}
}
.search-results-right{
	flex: 1 1 auto;

	.product-row{
		padding-left: rem(103);

		&__price{
			margin-bottom: 24px;
		}

		.sect-crumbs{
			padding: 0;
			li{

					a{
						font-family: $thin;
					}

			}
		}
	}
}
.search-results__inner{
	min-height: 769px;
}
.filter-row{
	border-bottom: 1px solid $gray-line;
	.ui-selectmenu-button.ui-button{
		max-width: 230px;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 0;
		border-color: transparent;
		font-size: 18px;
		line-height: normal;

		&:hover{
			border-color: transparent;
			&:after{
				border-color: transparent;
			}
		}
	}

	.ui-selectmenu-icon.ui-icon{
		margin-top: 5px;
	}
}
.ui-menu.mini .ui-menu-item-wrapper{
	padding-top: 16px;
		padding-bottom: 16px;
		font-size: 18px;
		line-height: normal;
}
.mini.ui-widget.ui-widget-content{
	border-color: $gray-line;
}